.-date-picker button{
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
            appearance: none;
}
.-date-picker button:focus{
    outline: none;
}
.-d-p-middle{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.-rotate45{
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-backface-visibility:hidden;
       -moz-backface-visibility:hidden;
        -ms-backface-visibility:hidden;
            backface-visibility:hidden;
}
.-date-picker,
.-date-picker *{
    box-sizing: border-box;
    -webkit-text-size-adjust:none;
        -ms-text-size-adjust:none;
    -webkit-tap-highlight-color:transparent;
}
.-date-picker{
    position: absolute;
    top: -100%;
    left: 0;
    width: 350px;
    padding: 15px 5px 5px;
    text-align: center;
    z-index: 20180110;
    user-select: none;
    cursor: default;
    overflow: hidden;
    transition: top, left 100ms;
}
#-date-picker-point{
    position: absolute;
    top: 0;
    left: 10%;
    width: 30px;
    height: 16px;
    margin-left: -15px;
    overflow: hidden;
    z-index: 1;
}
#-date-picker-point>div{
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 22px;
    height: 22px;
    margin: -11px;
    background: #fff;
    border: 1px solid;
    border-color: #dfdfdf transparent transparent #dfdfdf;
}
.-date-picker-main{
    position: relative;
    width: 100%;
    padding-top: 130%;
    border: 1px solid #dfdfdf;
    background: #fff;
    box-shadow: 2px 2px 3px #dfdfdf;
    z-index: 0;
}
#-date-picker-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.-date-picker-head,
.-date-picker-btn,
.-d-p-select-head,
.-d-p-select-foot{
    position: relative;
    width: 100%;
    padding: 15% 0 0;
    border-bottom: 1px solid #efefef;
    background: #fff;
}
.-date-picker-day, .-d-p-select-year-month{
    position: relative;
    width: 100%;
    padding: 50%;
    background: #fff;
    border-bottom: 1px solid #efefef;
}
.-date-picker-head>div,
.-date-picker-day>div,
.-date-picker-btn>div,
.-d-p-select-head>div,
.-d-p-select-year-month>div,
.-d-p-select-foot>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.-date-picker-ym{
    position: absolute;
    top: 0;
    left: 3%;
    bottom: 0;
    height: 28px;
    margin: auto;
    padding-right: 12px;
    border: 1px solid #ea5404;
    cursor: pointer;
}
#-date-picker-ym{
    width: 7em;
    height: 100%;
    padding: 0 .4em;
    color: #ea5404;
    font-size: 14px;
    line-height: 1;
}
.-date-picker-ym .-dpcymt{
    position: absolute;
    top: 50%;
    right: 5px;
    width: 8px;
    height: 8px;
    margin-top: -6px;
    border: 4px solid;
    border-color: #fff #ea5404 #ea5404 #fff;
}
.-date-picker-title{
    width: 100%;
    height: 11.5%;
    font-size: 0;
}
.-date-picker-title>button{
    width: 14.2857142857%;
    height: 100%;
    color: #ea5404;
    font-size: 14px;
}

.-date-picker-box{
    width: 100%;
    height: 69%;
    overflow: hidden;
}
#-date-picker-year{
    position: relative;
    width: 100%;
    height: 100%;
}
#-date-picker-year[data-month="1"]{
    -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
}
#-date-picker-year[data-month="2"]{
    -webkit-transform: translateY(-200%);
       -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
         -o-transform: translateY(-200%);
            transform: translateY(-200%);
}
#-date-picker-year[data-month="3"]{
    -webkit-transform: translateY(-300%);
       -moz-transform: translateY(-300%);
        -ms-transform: translateY(-300%);
         -o-transform: translateY(-300%);
            transform: translateY(-300%);
}
#-date-picker-year[data-month="4"]{
    -webkit-transform: translateY(-400%);
       -moz-transform: translateY(-400%);
        -ms-transform: translateY(-400%);
         -o-transform: translateY(-400%);
            transform: translateY(-400%);
}
#-date-picker-year[data-month="5"]{
    -webkit-transform: translateY(-500%);
       -moz-transform: translateY(-500%);
        -ms-transform: translateY(-500%);
         -o-transform: translateY(-500%);
            transform: translateY(-500%);
}
#-date-picker-year[data-month="6"]{
    -webkit-transform: translateY(-600%);
       -moz-transform: translateY(-600%);
        -ms-transform: translateY(-600%);
         -o-transform: translateY(-600%);
            transform: translateY(-600%);
}
#-date-picker-year[data-month="7"]{
    -webkit-transform: translateY(-700%);
       -moz-transform: translateY(-700%);
        -ms-transform: translateY(-700%);
         -o-transform: translateY(-700%);
            transform: translateY(-700%);
}
#-date-picker-year[data-month="8"]{
    -webkit-transform: translateY(-800%);
       -moz-transform: translateY(-800%);
        -ms-transform: translateY(-800%);
         -o-transform: translateY(-800%);
            transform: translateY(-800%);
}
#-date-picker-year[data-month="9"]{
    -webkit-transform: translateY(-900%);
       -moz-transform: translateY(-900%);
        -ms-transform: translateY(-900%);
         -o-transform: translateY(-900%);
            transform: translateY(-900%);
}
#-date-picker-year[data-month="10"]{
    -webkit-transform: translateY(-1000%);
       -moz-transform: translateY(-1000%);
        -ms-transform: translateY(-1000%);
         -o-transform: translateY(-1000%);
            transform: translateY(-1000%);
}
#-date-picker-year[data-month="11"]{
    -webkit-transform: translateY(-1100%);
       -moz-transform: translateY(-1100%);
        -ms-transform: translateY(-1100%);
         -o-transform: translateY(-1100%);
            transform: translateY(-1100%);
}
.-prev-year, .-next-year{
    position: absolute;
    top: 1200%;
    left: 0;
    width: 100%;
    height: 2em;
    padding: .5em;
    color: #efefef;
    font-size: 12px;
}
.-prev-year{
    top: -2em;
}
.-date-picker-month{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
    z-index: 0;
}
.-bg-month{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1em;
    margin: auto;
    color: #fee;
    font-size: 150px;
    font-weight: bolder;
    line-height: 1;
    z-index: -1;
    text-shadow: 1px 2px 0 #fdd;
}
.-date-picker-date{
    width: 14.2857142857%;
    height: 16.666666666%;
    font-size: 14px;
    vertical-align: top;
}
.-date-picker-date.in{
    color: #ea5404;
    font-weight: bold;
}
.-date-picker-date:hover{
    background: rgba(92,196,239,.1);
}
.-date-picker-date.un{
    color: #ddd;
}
.-date-picker-date.active{
    color: #fff;
    background: rgb(92,196,239);
}
.-date-picker-date.un.active{
    background: rgba(92,196,239,.5);
}
.-date-picker-date.on{
    background: rgba(92,196,239,.1);
}
#-date-picker-prev, #-date-picker-next, #-d-p-s-year-prev, #-d-p-s-year-next{
    position: relative;
    width: 100%;
    height: 9.7%;
    cursor: pointer;
}
#-date-picker-prev>div, #-d-p-s-year-prev>div, #-date-picker-next>div, #-d-p-s-year-next>div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: -3px -6px;
    border: 3px solid;
    border-color: #ddd transparent transparent #ddd;
}
#-date-picker-next>div, #-d-p-s-year-next>div{
    margin: -9px -6px;
    border-color: transparent #ddd #ddd transparent;
}
#-date-picker-prev:hover>div, #-d-p-s-year-prev:hover>div{
    border-color: #ea5404 transparent transparent #ea5404;
}
#-date-picker-next:hover>div, #-d-p-s-year-next:hover>div{
    border-color: transparent #ea5404 #ea5404 transparent;
}
.-date-picker-btn, .-d-p-select-foot{
    font-size: 0;
    border-width: 0;
}
.-date-picker-btn>div>div{
    display: inline-block;
    width: 25%;
    height: 100%;
    padding: 3% 2%;
    font-size: 14px;
    vertical-align: top;
}
.-date-picker-btn>div>div>button{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #ea5404;
    border: 1px solid #ea5404;
}
.-date-picker-btn>div>div.un>button{
    color: #787878;
    background: #efefef;
    border: 1px solid #787878;
}
.-date-picker-select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.-date-picker.-month .-date-picker-select, .-date-picker.-year .-date-picker-select{
    z-index: 1;
}
.-d-p-select-year-month{
    font-size: 0;
}
.-d-p-select-year-month>div, .-d-p-select-head>div{
    margin-left: -100%;
    transition: margin 100ms;
}
.-d-p-s-year-box, #-d-p-select-year-range, #-d-p-select-year-touch{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#-d-p-select-year-touch{
    font-size: 0;
    overflow: hidden;
}
#-d-p-select-year-touch>div{
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
}
#-d-p-select-year-range{
    font-size: 22px;
}
#-d-p-select-year-touch{
    left: 100%;
}
.-date-picker.-year .-d-p-select-year-month>div, .-date-picker.-year .-d-p-select-head>div{
    margin-left: 0;
}
.-d-p-s-y-box{
    width: 100%;
    height: 80.6%;
    overflow: hidden;
}
#-d-p-s-y-box{
    width: 100%;
    height: 100%;
}
.-d-p-s-month-box{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
}
.-d-p-s-month, .-d-p-s-year{
    position: relative;
    display: inline-block;
    width: 33.3333333333%;
    height: 25%;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}
.-d-p-s-month>div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 42px;
    margin: auto;
}
.-d-p-s-month:hover, .-d-p-s-year:hover{
    background: rgba(92,196,239,.1);
}
.-d-p-s-month.un{
    color: #787878;
}
.-d-p-s-m-en{
    margin-top: 8px;
    color: #ea5404;
    font-size: 14px;
}
.-d-p-s-year.un{
    color: #ddd;
}
.-d-p-s-year.in{
    color: #ea5404;
}
.-d-p-select-left, .-d-p-select-right{
    position: relative;
    width: 40%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top left, #fff, rgba(255,255,255,0));
    background: -moz-linear-gradient(top left, #fff, rgba(255,255,255,0));
    background: -o-linear-gradient(top left, #fff, rgba(255,255,255,0));
    background: linear-gradient(top left, #fff, rgba(255,255,255,0));
}
.-d-p-select-right{
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), to(#fff));
    background: -webkit-linear-gradient(top left, rgba(255,255,255,0), #fff);
    background: -moz-linear-gradient(top left, rgba(255,255,255,0), #fff);
    background: -o-linear-gradient(top left, rgba(255,255,255,0), #fff);
    background: linear-gradient(top left, rgba(255,255,255,0), #fff);
}
#-d-p-select-year-touch>.-d-p-select-box{
    position: relative;
    width: 20%;
    height: 100%;
    z-index: 0;
}
#-d-p-select-year{
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
.-d-p-s-y{
    width: 100%;
    height: 100%;
    font-size: 20px;
}
#-date-picker-btn-back{
    width: 100%;
    height: 100%;
    color: #ea5404;
    font-size: 16px;
}




@media (max-width: 375px) {
    .-date-picker{
        width: 100%;
        min-width: 280px;
    }
}