button{
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
}
button:focus{
    outline: none;
}
.-d-p-middle{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.-rotate45{
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-backface-visibility:hidden;
       -moz-backface-visibility:hidden;
        -ms-backface-visibility:hidden;
            backface-visibility:hidden;
}
.-date-picker, .-date-picker *{
    box-sizing: border-box;
    -webkit-text-size-adjust:none;
        -ms-text-size-adjust:none;
    -webkit-tap-highlight-color:transparent;
}
.-date-picker{
    position: absolute;
    top: -100%;
    left: 0;
    width: 350px;
    padding: 15px 5px 5px;
    z-index: 2017103110;
    user-select: none;
    cursor: default;
    overflow: hidden;
}
.-date-picker-point{
    position: absolute;
    top: 0;
    left: 10%;
    width: 30px;
    height: 16px;
    margin-left: -15px;
    overflow: hidden;
    z-index: 1;
}
.-date-picker-point>div{
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 22px;
    height: 22px;
    margin: -11px;
    background: #fff;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
}
.-date-picker-main{
    position: relative;
    width: 100%;
    border: 1px solid #dfdfdf;
    background: #fff;
    box-shadow: 2px 2px 3px #dfdfdf;
    z-index: 0;
}
.-date-picker-foot, .-date-picker-btn{
    position: relative;
    width: 100%;
    padding: 15% 0 0;
    border-bottom: 1px solid #efefef;
}
.-date-picker-foot>div, .-date-picker-btn>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.-date-picker-day{
    position: relative;
    width: 100%;
    padding: 50%;
}
.-date-picker-day>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.-date-picker-ym{
    display: inline-block;
    margin-left: 3%;
    padding-right: 7px;
    font-size: 0;
    border: 1px solid red;
    cursor: pointer;
}
#-date-picker-ym{
    width: 7em;
    padding: .5em .4em .4em;
    color: red;
    font-size: 14px;
    line-height: 1;
    background: transparent;
}
.-date-picker-ym .-dpcymt{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-top: 8px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid red;
    border-bottom: 4px solid red;
    vertical-align: top;
}
.-date-picker-title{
    width: 100%;
    height: 11.5%;
    font-size: 0;
}
.-date-picker-title>span{
    display: inline-block;
    width: 14.2857142857%;
    color: red;
    text-align: center;
    font-size: 14px;
}
.-date-picker-prev, .-date-picker-next{
    position: relative;
    width: 100%;
    height: 9.7%;
    cursor: pointer;
}
.-date-picker-box{
    width: 100%;
    height: 69%;
    overflow: hidden;
}
#-date-picker-year{
    position: relative;
    width: 100%;
    height: 100%;
}
#-date-picker-year[data-month="1"]{
    -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
}
#-date-picker-year[data-month="2"]{
    -webkit-transform: translateY(-200%);
       -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
         -o-transform: translateY(-200%);
            transform: translateY(-200%);
}
#-date-picker-year[data-month="3"]{
    -webkit-transform: translateY(-300%);
       -moz-transform: translateY(-300%);
        -ms-transform: translateY(-300%);
         -o-transform: translateY(-300%);
            transform: translateY(-300%);
}
#-date-picker-year[data-month="4"]{
    -webkit-transform: translateY(-400%);
       -moz-transform: translateY(-400%);
        -ms-transform: translateY(-400%);
         -o-transform: translateY(-400%);
            transform: translateY(-400%);
}
#-date-picker-year[data-month="5"]{
    -webkit-transform: translateY(-500%);
       -moz-transform: translateY(-500%);
        -ms-transform: translateY(-500%);
         -o-transform: translateY(-500%);
            transform: translateY(-500%);
}
#-date-picker-year[data-month="6"]{
    -webkit-transform: translateY(-600%);
       -moz-transform: translateY(-600%);
        -ms-transform: translateY(-600%);
         -o-transform: translateY(-600%);
            transform: translateY(-600%);
}
#-date-picker-year[data-month="7"]{
    -webkit-transform: translateY(-700%);
       -moz-transform: translateY(-700%);
        -ms-transform: translateY(-700%);
         -o-transform: translateY(-700%);
            transform: translateY(-700%);
}
#-date-picker-year[data-month="8"]{
    -webkit-transform: translateY(-800%);
       -moz-transform: translateY(-800%);
        -ms-transform: translateY(-800%);
         -o-transform: translateY(-800%);
            transform: translateY(-800%);
}
#-date-picker-year[data-month="9"]{
    -webkit-transform: translateY(-900%);
       -moz-transform: translateY(-900%);
        -ms-transform: translateY(-900%);
         -o-transform: translateY(-900%);
            transform: translateY(-900%);
}
#-date-picker-year[data-month="10"]{
    -webkit-transform: translateY(-1000%);
       -moz-transform: translateY(-1000%);
        -ms-transform: translateY(-1000%);
         -o-transform: translateY(-1000%);
            transform: translateY(-1000%);
}
#-date-picker-year[data-month="11"]{
    -webkit-transform: translateY(-1100%);
       -moz-transform: translateY(-1100%);
        -ms-transform: translateY(-1100%);
         -o-transform: translateY(-1100%);
            transform: translateY(-1100%);
}
.-prev-year, .-next-year{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2em;
    padding: .5em;
    color: #efefef;
    font-size: 12px;
    text-align: center;
}
.-prev-year{
    top: -2em;
}
.-next-year{
    top: 1200%;
}
.-date-picker-month{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
    z-index: 0;
}
.-date-picker-month>.-before, .-date-picker-month>.-after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1em;
    margin: auto;
    color: #fee;
    font-size: 150px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    z-index: -1;
}
.-date-picker-month>.-after{
    top: 2px;
    left: 1px;
    color: #fdd;
    z-index: -2;
}
.-date-picker-date{
    width: 14.2857142857%;
    height: 16.666666666%;
    font-size: 14px;
    vertical-align: top;
}
.-date-picker-date.in{
    color: red;
    font-weight: bold;
}
.-date-picker-date:hover{
    background: rgba(92,196,239,.1);
}
.-date-picker-date.un, .-date-picker-date.un.active{
    color: #ddd;
}
.-date-picker-date.active{
    color: #fff;
    background: rgb(92,196,239);
}
.-date-picker-date.on{
    background: rgba(92,196,239,.1);
}
.-date-picker-btn{
    font-size: 0;
}
.-date-picker-btn>div>div{
    display: inline-block;
    width: 25%;
    height: 100%;
    padding: 3% 2%;
    font-size: 14px;
    vertical-align: top;
}
.-date-picker-btn>div>div>button{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: red;
    border: 1px solid red;
}
.-date-picker-btn>div>div>button.un{
    color: #999;
    background: #efefef;
    border: 1px solid #999;
}
.-date-picker-prev>div, .-date-picker-next>div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border: 3px solid #ddd;
}
.-date-picker-prev:hover>div, .-date-picker-next:hover>div{
    border: 3px solid red;
}
.-date-picker-prev>div, .-date-picker-prev:hover>div{
    margin: -3px -6px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.-date-picker-next>div, .-date-picker-next:hover>div{
    margin: -9px -6px 0;
    border-top-color: transparent;
    border-left-color: transparent;
}

.-date-picker-select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}




@media (max-width: 420px) {
    .-date-picker{
        width: 100%;
        min-width: 280px;
    }
}